<div class="container-fluid">
    <!--task filter-->
    <div class="task-filter row">
        <div class="col-sm-4 col-md-4 col-lg-4">

            <select ng-model="selectedStatus.status" class="form-control">
                <option value="">-Please select-</option> <!-- not selected / blank option -->
                <option ng-repeat="taskStatus in dc.taskStatuses"
                        value="{{taskStatus}}">{{taskStatus}}</option> <!-- options -->
            </select>
        </div>
        <div class="col-sm-8 col-md-8 col-lg-8">
            <button class="btn btn-primary pull-right">
                <i class="fa fa-plus"></i> <span ng-bind="'add.task.label.txt' | translate"></span>
            </button>
        </div>
    </div><br/>
    <!--task details-->
    <div class="task-section thin-bottom-top row">
        <task ng-repeat="task in dc.tasksList | filter:selectedStatus">
            <render-task task-obj="task"></render-task>
        </task>
    </div>
</div>